Repository ioncoincore/ion, pull requests merged in 2019-09, with the labels that each got.

#177 Change public key for ckti
  contrib/gitian-keys/keys.txt
Labels: Build system, Linux/Unix, Scripts and tools, gitian, maintenance

#182 Travis enable lint whitespace & use ioncoincore for gitian script
  .travis/lint_06_script.sh
  contrib/gitian-build.py
Labels: Build system, gitian

#183 update readme.md with ioncoincore's links
  README.md
  contrib/devtools/lint-whitespace.sh
Labels: Docs

#181 [QT] New splash screen
  src/qt/res/images/splash.png
  src/qt/res/images/splash_regtest.png
  src/qt/res/images/splash_testnet.png
Labels: GUI

#178 Update the tokeninfo command
  src/consensus/tokengroups.cpp
  src/consensus/tokengroups.h
  src/tokens/rpctokens.cpp
Labels: Feature, Tokens

#184 Update to conform to new snapcraft.io rules
  snap/local/desktop/ion.desktop
  snap/local/desktop/ion_regtest.desktop
  snap/local/desktop/ion_testnet.desktop
  snap/local/desktop/iond.desktop
  snap/local/desktop/iond_regtest.desktop
  snap/local/desktop/iond_testnet.desktop
  snap/snapcraft.yaml
Labels: Bug, Build system, Linux/Unix, Scripts and tools, snap
