Repository ioncoincore/ion, pull requests merged in 2019-04, with the labels that each got.

#145 [build][snap] update snapcraft.yaml's ref to MIT license
  snap/snapcraft.yaml
Labels: Build system, snap

#146 transifex - update transifex info
  doc/release-notes/release-notes-3.1.0.md
  doc/translation_process.md
  src/qt/forms/optionsdialog.ui
  src/qt/locale/ion_bg.ts
  src/qt/locale/ion_da.ts
  src/qt/locale/ion_de.ts
  src/qt/locale/ion_en.ts
  src/qt/locale/ion_en_US.ts
  src/qt/locale/ion_eo.ts
  src/qt/locale/ion_es.ts
  src/qt/locale/ion_fr_FR.ts
  src/qt/locale/ion_hr_HR.ts
  src/qt/locale/ion_ko_KR.ts
  src/qt/locale/ion_lt_LT.ts
  src/qt/locale/ion_nl.ts
  src/qt/locale/ion_pl.ts
  src/qt/locale/ion_pt_BR.ts
  src/qt/locale/ion_ru.ts
  src/qt/locale/ion_sv.ts
  src/qt/locale/ion_tr.ts
Labels: Docs, maintenance

#147 [Build system][Docs] - dpkg buildpackage, build on launchpad
  .travis.yml
  CONTRIBUTING.md
  contrib/README.md
  contrib/debian/README.md
  contrib/debian/build-dpkg.sh
  contrib/debian/changelog
  contrib/debian/manpages/ion-qt.1
  contrib/debian/manpages/iond.1
  contrib/debian/prepare-dpkg.sh
  contrib/devtools/lint-whitespace.sh
  contrib/rpm/ion.spec
  debian/README.md
  debian/changelog
  debian/compat
  debian/control
  debian/copyright
  debian/examples/ioncoin.conf
  debian/gbp.conf
  debian/ion-qt.desktop
  debian/ion-qt.install
  debian/ion-qt.lintian-overrides
  debian/ion-qt.protocol
  debian/iond.bash-completion
  debian/iond.examples
  debian/iond.install
  debian/iond.lintian-overrides
  debian/iond.manpages
  debian/manpages/ion-cli.1
  debian/manpages/ion-qt.1
  debian/manpages/ion-tx.1
  debian/manpages/ion.conf.5
  debian/manpages/iond.1
  debian/patches/README
  debian/patches/series
  debian/rules
  debian/source/format
  debian/watch
  doc/init.md
  snap/snapcraft.yaml
  src/Makefile.test.include
  src/leveldb/port/atomic_pointer.h
  src/leveldb/port/port_posix.cc
  src/qt/forms/receivecoinsdialog.ui
  src/qt/forms/xioncontroldialog.ui
  src/qt/paymentrequest.proto
  src/test/Checkpoints_tests.cpp
  src/test/budget_tests.cpp
  src/test/data/base58_keys_invalid.json
  src/test/data/base58_keys_valid.json
  src/test/key_tests.cpp
  src/test/main_tests.cpp
  src/test/rpc_tests.cpp
  src/test/rpc_wallet_tests.cpp
  src/test/script_tests.cpp
  src/test/sighash_tests.cpp
  src/test/transaction_tests.cpp
  src/test/zerocoin_implementation_tests.cpp
Labels: Build system, Docs

#148 Update readmes
  README.md
  snap/README.md
Labels: Docs

#150 [Build System] Update snap - remove unrequired icons, add patching, update info
  debian/ion-qt-regtest.desktop
  debian/ion-qt-testnet.desktop
  debian/ion-qt.desktop
  debian/iond.desktop
  debian/manpages/ion-cli.1
  debian/manpages/ion-qt.1
  debian/manpages/ion-tx.1
  debian/manpages/iond.1
  doc/man/ion-cli.1
  doc/man/ion-qt.1
  doc/man/ion-tx.1
  doc/man/iond.1
  share/snap/shortcuts/ion-qt-regtest-snap.desktop
  share/snap/shortcuts/ion-qt-snap.desktop
  share/snap/shortcuts/ion-qt-testnet-snap.desktop
  share/snap/shortcuts/iond-snap.desktop
  snap/snapcraft.yaml
Labels: Build system, Scripts and tools, dpkg, snap

#152 [maintenance] minor fixes debian snap
  contrib/devtools/lint-whitespace.sh
  debian/iond_regtest.bash-completion
  debian/iond_regtest.protocol
  debian/iond_testnet.bash-completion
  debian/iond_testnet.protocol
  share/pixmaps/ion16.png
  share/pixmaps/ion16.xpm
  share/pixmaps/ion48.png
  share/pixmaps/ion48.xpm
  snap/snapcraft.yaml
Labels: Bug, Build system, Linux/Unix, dpkg, maintenance, snap

#154 snap - fix typto in filenape favicon_regtest.ico
  contrib/snap/icons/favicon_regtest.ico
Labels: Bug, Build system, snap

#155 Snap and new media ressource
  contrib/media/repository-open-graph-template.svg
  snap/local/desktop/ion.png
  snap/local/desktop/iond.png
Labels: Bug, Build system, launchpad, snap

#156 [Scripts and tools] update vscode debugger settings
  .vscode/launch.json
Labels: Scripts and tools

#157 [scripts and tools] - fix ppc64el failing due to non existing test bins
  snap/snapcraft.yaml
Labels: Build system, Linux/Unix, Scripts and tools, snap

#158 [fix] fix sendcoinsdialog and accumulator checkpoints
  src/qt/sendcoinsdialog.cpp
  src/xion/accumulatorcheckpoints.json.h
Labels: Bug, GUI

#153 [tests] fix checkpoint and key tests
  src/test/Checkpoints_tests.cpp
  src/test/key_tests.cpp
Labels: Bug, testing, tests

#160 [Build system] debian, fix not met build-depends
  debian/control
Labels: Build system, dpkg

#161 [build] - snapcraft config, use BINPREF instead of hardcoded name
  snap/snapcraft.yaml
Labels: Build system, launchpad, snap

#142 [backport][feature][tokens] bitcoin based upgrades - preparing for tokens
  src/Makefile.am
  src/base58.cpp
  src/base58.h
  src/coins.cpp
  src/coins.h
  src/consensus/validation.h
  src/init.cpp
  src/leveldbwrapper.cpp
  src/leveldbwrapper.h
  src/main.cpp
  src/main.h
  src/masternode.cpp
  src/masternodeman.cpp
  src/miner.cpp
  src/net.cpp
  src/obfuscation.cpp
  src/primitives/transaction.h
  src/qt/coincontroldialog.cpp
  src/qt/coincontroldialog.h
  src/qt/forms/sendcoinsentry.ui
  src/qt/optionsdialog.cpp
  src/qt/sendcoinsdialog.cpp
  src/qt/sendcoinsentry.cpp
  src/qt/sendcoinsentry.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/qt/walletmodeltransaction.cpp
  src/qt/walletmodeltransaction.h
  src/rpc/blockchain.cpp
  src/rpc/client.cpp
  src/rpc/mining.cpp
  src/rpc/rawtransaction.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/script/standard.cpp
  src/script/standard.h
  src/spork.cpp
  src/swifttx.cpp
  src/test/checkblock_tests.cpp
  src/test/coins_tests.cpp
  src/test/miner_tests.cpp
  src/test/sighash_tests.cpp
  src/test/test_ion.cpp
  src/test/transaction_tests.cpp
  src/txdb.cpp
  src/txdb.h
  src/txmempool.cpp
  src/wallet/rpcwallet.cpp
  src/wallet/wallet.cpp
  src/wallet/wallet.h
  src/wallet/walletdb.cpp
  src/xionchain.h
Labels: Backport, Feature, Tokens, maintenance, timeline

#162 gui - change spinner to ion logo
  share/qt/img/reload.png
  share/qt/img/reload.xcf
  src/qt/res/movies/spinner-000.png
  src/qt/res/movies/spinner-001.png
  src/qt/res/movies/spinner-002.png
  src/qt/res/movies/spinner-003.png
  src/qt/res/movies/spinner-004.png
  src/qt/res/movies/spinner-005.png
  src/qt/res/movies/spinner-006.png
  src/qt/res/movies/spinner-007.png
  src/qt/res/movies/spinner-008.png
  src/qt/res/movies/spinner-009.png
  src/qt/res/movies/spinner-010.png
  src/qt/res/movies/spinner-011.png
  src/qt/res/movies/spinner-012.png
  src/qt/res/movies/spinner-013.png
  src/qt/res/movies/spinner-014.png
  src/qt/res/movies/spinner-015.png
  src/qt/res/movies/spinner-016.png
  src/qt/res/movies/spinner-017.png
  src/qt/res/movies/spinner-018.png
  src/qt/res/movies/spinner-019.png
  src/qt/res/movies/spinner-020.png
  src/qt/res/movies/spinner-021.png
  src/qt/res/movies/spinner-022.png
  src/qt/res/movies/spinner-023.png
  src/qt/res/movies/spinner-024.png
  src/qt/res/movies/spinner-025.png
  src/qt/res/movies/spinner-026.png
  src/qt/res/movies/spinner-027.png
  src/qt/res/movies/spinner-028.png
  src/qt/res/movies/spinner-029.png
  src/qt/res/movies/spinner-030.png
  src/qt/res/movies/spinner-031.png
  src/qt/res/movies/spinner-032.png
  src/qt/res/movies/spinner-033.png
  src/qt/res/movies/spinner-034.png
  src/qt/res/src/ion.svg
Labels: GUI
