Repository ioncoincore/ion, pull requests merged in 2019-01, with the labels that each got.

#15 [org] [maintenance] Update issue templates
  .github/ISSUE_TEMPLATE/i-need-help-support--observed-by-ionomy-com-staff-.md
Labels: maintenance, org

#10 [feature request] [html wallet] Add address to transaction records rpc output
  src/rpcwallet.cpp
Labels: feature request, html wallet

#21 [maintenance] Undo disabling minting v2 zerocoin
  src/main.cpp
  src/qt/privacydialog.cpp
  src/rpcwallet.cpp
  src/wallet.cpp
Labels: maintenance

#25 Gitian keys
  contrib/gitian-keys/keys.txt
Labels: gitian

#26 Add risc support
  contrib/devtools/symbol-check.py
  contrib/gitian-descriptors/gitian-linux.yml
  depends/packages/qt.mk
  src/compat/glibc_compat.cpp
Labels: docs, feature request, gitian, maintenance

#30 Added raid12345678 GPG key to the list of users
  contrib/gitian-keys/keys.txt
Labels: maintenance, org

#31 Avoid failed xion spend
  COPYING
  LICENSE
  src/primitives/zerocoin.h
  src/qt/walletmodel.cpp
  src/qt/walletmodel.h
  src/qt/xioncontroldialog.cpp
  src/xiontracker.cpp
  src/xiontracker.h
  src/xionwallet.cpp
  src/xionwallet.h
Labels: bug

#32 Update snapcraft
  snap/gui/ion.desktop
  snap/snapcraft.yaml
Labels: snap

#33 Snap: retrigger latest commit on master branch (master)
  snap/gui/ion.desktop
  snap/snapcraft.yaml
Labels: snap

#41 Fix gz to xz: gitian descriptors, change extract command
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/gitian-descriptors/gitian-osx.yml
  contrib/gitian-descriptors/gitian-win.yml
Labels: build

#51 Multiply remainder with COIN
  src/stakeinput.cpp
Labels: bug

#50 Beta 1 Release v3.1.00 for testnet testing
  configure.ac
  snap/gui/ion.desktop
  snap/snapcraft.yaml
Labels: build

#52 Update master branch versions
  configure.ac
  snap/gui/ion.desktop
  snap/snapcraft.yaml
Labels: maintenance

#56 [bug][snap][gitian][build][artworks] Fix wrong demo address in preparebudget and change proposal icon
  src/qt/res/icons/proposal.png
  src/qt/res/icons/proposal_dark.png
  src/qt/res/src/voting-tab.svg
  src/rpc/budget.cpp
Labels: Testing, bug, snap

#57 [bug] Fix Issue 53 - Testnet Units of ION mislabeled
  src/qt/res/icons/unit_tion.png
  src/qt/res/src/unit_tion.xcf
  src/qt/res/src/unit_tmion.xcf
Labels: bug

#63 [org][maintenance] update keys.txt, resolves issue #62
  contrib/gitian-keys/keys.txt
Labels: maintenance, org

#65 Update zmq 431
  depends/packages/zeromq.mk
  doc/dependencies.md
Labels: build, maintenance

#68 [bug][maintenance][docs] Invalid blocks storage and blocks do s spam filter
  src/init.cpp
  src/main.cpp
  src/main.h
Labels: bug, docs, ioncoin.org, ioncore.xyz, ionomy.com, maintenance

#72 [maintenance] Remove begin/end_ptr functions
  src/netbase.cpp
  src/random.cpp
  src/script/interpreter.cpp
  src/serialize.h
  src/test/base58_tests.cpp
  src/util.cpp
Labels: maintenance

#73 AcceptBlock(), serial double spend on the same block validation
  src/main.cpp
Labels: maintenance

#76 snap: fix xenial build error, rename binutils-gold to binutils
  snap/snapcraft.yaml
Labels: bug, build, snap

#78 Fix multilib package, cleanup
  snap/snapcraft.yaml
Labels: build, snap

#85 Update snapcraft
  .gitignore
  snap/gui/ion-qt-testnet.ico
  snap/gui/ion-testnet.desktop
  snap/snapcraft.yaml
Labels: snap

#86 snap: fix libd install error with override-build
  snap/snapcraft.yaml
Labels: bug, snap

#87 Maintenance
  src/main.cpp
Labels: bug, maintenance

#70 [maintenance][feature request][xion][docs][wiki] Automint address
  src/init.cpp
  src/qt/forms/optionsdialog.ui
  src/qt/optionsdialog.cpp
  src/qt/optionsmodel.cpp
  src/qt/optionsmodel.h
  src/rpc/client.cpp
  src/rpc/server.cpp
  src/rpc/server.h
  src/rpcwallet.cpp
  src/util.cpp
  src/util.h
  src/wallet.cpp
  src/wallet.h
  src/walletdb.cpp
  src/walletdb.h
Labels: docs, maintenance, wiki, xion

#88 Update snapcraft.yaml
  snap/snapcraft.yaml
Labels: bug, build, snap

#91 Add RPC call to get a list of automint addresses
  src/rpc/server.cpp
  src/rpc/server.h
  src/rpcwallet.cpp
Labels: docs, feature request, wiki, xion

#93 Add PoW functionality for mining on regtest
  src/accumulators.cpp
  src/main.cpp
  src/masternode-payments.cpp
  src/miner.cpp
Labels: bug, regtest
