Repository ioncoincore/ion, pull requests merged in 2019-02, with the labels that each got.

#96 [bug][regtest][build][gitian][maintenance][launchpad] Powerppc for launchpad and regtest fix
  contrib/gitian-descriptors/gitian-linux.yml
  contrib/init/iond.service
  depends/packages/qt.mk
  doc/assets-attribution.md
  snap/patches/Hardening-measures-disable-PrivateTmp.patch
  snap/snapcraft.yaml
  src/Makefile.qt.include
  src/chainparams.cpp
  src/main.cpp
  src/pow.cpp
  src/qt/ion.qrc
  src/qt/networkstyle.cpp
  src/qt/res/icons/ion_regtest.ico
  src/qt/res/icons/ion_regtest.png
  src/qt/res/icons/unit_rion.png
  src/qt/res/icons/unit_rmion.png
  src/qt/res/icons/unit_ruion.png
  src/qt/res/src/unit_rion.xcf
  src/qt/res/src/unit_rmion.xcf
  src/qt/res/src/unit_ruion.xcf
  src/qt/res/src/unit_tmion.xcf
Labels: build, feature request, gitian, maintenance, regtest

#97 Add berkeleydb fix for snap
  .travis.yml
  .travis/test_05_before_script.sh
  contrib/seeds/generate-seeds.py
  contrib/seeds/makeseeds.sh
  depends/Makefile
  depends/README.md
  depends/funcs.mk
  depends/packages/dbus.mk
  depends/packages/fontconfig.mk
  depends/packages/gmp.mk
  depends/packages/libX11.mk
  depends/packages/libXau.mk
  depends/packages/libXext.mk
  depends/packages/libxcb.mk
  depends/packages/xcb_proto.mk
  depends/packages/xextproto.mk
  depends/packages/xproto.mk
  depends/packages/xtrans.mk
  doc/release-process.md
  snap/gui/qt-regtest.desktop
  snap/gui/qt-regtest.ico
  snap/gui/qt-testnet.desktop
  snap/gui/qt-testnet.ico
  snap/gui/qt.desktop
  snap/gui/qt.ico
  snap/patches/Hardening-measures-disable-PrivateTmp.patch
  snap/patches/patch-var-tmp.patch
  snap/snapcraft.yaml
  src/chainparams.cpp
  src/chainparamsseeds.h
  src/qt/res/css/default.css
Labels: build, scripts and tools, snap

#101 [depends] Update libsecp256k1 to latest master
  src/secp256k1/include/secp256k1_ecdh.h
  src/secp256k1/src/bench_ecdh.c
  src/secp256k1/src/java/org_bitcoin_NativeSecp256k1.c
  src/secp256k1/src/modules/ecdh/main_impl.h
  src/secp256k1/src/modules/ecdh/tests_impl.h
  src/secp256k1/src/tests.c
Labels: build

#102 [maintenance][regtest][docs][wiki] chainparams, change regtest ports from testnets
  src/chainparams.cpp
  src/chainparamsbase.cpp
Labels: docs, maintenance, regtest, wiki

#105 Update accumulator checkpoints for 3.1.0
  src/accumulatorcheckpoints.json.h
Labels: xion

#104 V3.0.5 regtest
  qa/rpc-tests/util.py
  src/accumulators.cpp
  src/chainparams.cpp
  src/chainparamsbase.cpp
  src/main.cpp
  src/masternode-payments.cpp
  src/miner.cpp
  src/pow.cpp
  src/qt/guiconstants.h
  src/qt/networkstyle.cpp
Labels: regtest

#108 Move reject old spork key to 31. March
  src/chainparams.cpp
Labels: bug

#109 Update snap
  configure.ac
  snap/snapcraft.yaml
  snap/usr/share/applications/qt-regtest.desktop
  snap/usr/share/applications/qt-testnet.desktop
Labels: maintenance, snap

#110 Bugfix patch
  src/main.cpp
Labels: bug, xion

#113 Fix download issues on snap for arm/aarch64
  configure.ac
  snap/snapcraft.yaml
  snap/usr/share/applications/qt-regtest.desktop
  snap/usr/share/applications/qt-testnet.desktop
  snap/usr/share/applications/qt.desktop
Labels: build, maintenance, snap

#114 Add ion developers copyright info to the snapcraft.yaml config
  snap/snapcraft.yaml
Labels: snap

#112 Invalid blocks storage and blocks do s spam filter
  src/main.cpp
Labels: maintenance

#117 [maintenance] Update checkpoint after zerocoin v2 startheight, add accumulator checkpoint
  README.md
  configure.ac
  snap/snapcraft.yaml
  snap/usr/share/applications/qt-regtest.desktop
  snap/usr/share/applications/qt-testnet.desktop
  snap/usr/share/applications/qt.desktop
  src/accumulatorcheckpoints.json.h
  src/chainparams.cpp
  src/chainparamsseeds.h
Labels: maintenance
